
body{
    background-image: url("d.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    }
#content {
        max-width: 600px;
        margin: auto;
        left: 1%;
        right: 1%;
        position: relative;
        border-style: dashed;
    
    }
#test{
    background-color: rgb(110, 241, 110);
}
p{
    color : white;
}
h1{
    color : white;
}
#a{
    max-width: 600px;
    margin: auto;
    left: 1%;
    right: 1%;
    position: relative;
    border-style: dashed;

}
table,td{
    background-color: white;
}
table, td {    
    border: 1px solid black;  
    margin-left: auto;  
    margin-right: auto;  
    border-collapse: collapse;    
    width: 500px;  
    text-align: center;  
    font-size: 20px;  
    }   

.left:after {
    content: "";
    position: relative;
    top: 0.5em;
    border-right: 0.5em solid transparent;
    border-top: 0.5em solid red;
}
.Up:after {
    content: "";
    position: relative;
    top: 0.5em;
    border-right: 0.5em solid transparent;
    border-top: 0.5em solid red;
}
.diag:after {
    content: "";
    position: relative;
    top: 0.5em;
    border-right: 0.5em solid transparent;
    border-top: 0.5em solid red;
}